{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="/static/mainpage.css">
{% endblock %}


{% block title %}
Devinez le mot !
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm text-left">
            <div id="header-div">
                <img src="{{ url_for('static', filename='favicon.png') }}" style="max-width:40px">
                <h1 id="header-text">Devinez le mot !</h1>
            </div>
            <h3>TO-DO développement</h3>
            <ul>
                <li>Afficher l'historique du jeu (/history, /stats)</li>
            </ul>
        </div>
    </div>
    {% if msg %}
    {% if current["percentile"]==1000 %}
    <p class="lead message reveal">{{ msg|safe }}</p>
    {% else %}
    <p class="lead message">{{ msg|safe }}</p>
    {% endif %}
    {% endif %}
    <div class="row">
        <form id="form" action="" method="post" role="form" class="form">
            <table class="table">
                <tr>
                    <td>
                        {{ form.hidden_tag() }}
                        {{ form.word.label(class_="sr-only") }}
                        {% if words and words[0]["percentile"] == 1000 %}
                            {{ form.word(placeholder_=current["word"],readonly_=True) }}
                        {% elif words %}
                            {{ form.word(placeholder_=current["word"]) }}
                        {% else %}
                            {{ form.word }}
                        {% endif %}
                    </td>
                    <td>
                        {% if words and words[0]["percentile"] == 1000 %}
                            {{ form.submit(disabled_=True) }}
                        {% else %}
                            {{ form.submit }}
                        {% endif %}
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="row">     
        <div id="words_list" class="col">
        {% if words %}
            <table class="table">
                <colgroup>
                    <col span="1" style="width: 2%">
                    <col span="1" style="width: 80%;">
                    <col span="1" style="width: 2%;">
                    <col span="1" style="width: 2%;">
                    <col span="1" style="width: 2%;">
                    <col span="1" style="width: 12%;">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Mot</th>
                        <th scope="col">°C</th>
                        <th scope="col">🌡</th>
                        <th scope="col">‰</th>
                        <th scope="col">Progression</th>
                    </tr>
                </thead>
            {% if current is iterable and "error" not in current %}
                <tr style="font-weight: bold">
                    <td>{{ current["num"] }}</td>
                    <td>{{ current["word"] }}</td>
                {% if current["percentile"] > 0 %}
                    <td class="reveal">{{ '%0.2f'|format(current["score"]*100|float) }}</td>
                    <td class="reveal">{{ getEmojiFor(current["percentile"],current["score"]) }}</td>
                    <td class="reveal">{{ current["percentile"] }}</td>
                    <td>
                        <div class="meter">
                            <span style="width:{{ current['percentile']/10 }}%;">
                                <span class="progress-active"></span>
                            </span>
                        </div>                    
                    </td>
                {% else %}
                    <td>{{ '%0.2f'|format(current["score"]*100|float) }}</td>
                    {% if current["score"] > 0 %}
                    <td>🥶</td>
                    {% else %}
                    <td>🧊</td>
                    {% endif %}
                    <td>{{ current["percentile"] }}</td>
                    <td></td>
                {% endif %}
                </tr>
                <tr><td colspan="6"></td></tr>
            {% endif %}
            {% for word in words %}
                {% if current["word"] == word["word"] %}
                    {% set style_bold = "style=font-weight:bold;" %}
                    {% if word == words[0] %}
                        {% set expand_line = "hide" %}
                    {% elif current["percentile"] > 0 %}
                        {% set expand_line = "expand-line" %}
                    {% endif %}
                {% endif %}

                {% if word["percentile"] == 1000 %}
                <tr class="bg-success {{ expand_line }}" {{ style_bold }}>
                {% elif word["percentile"] > 998 %}
                <tr class="bg-info {{ expand_line }}" {{ style_bold }}>
                {% elif word["percentile"] > 899 %}
                <tr class="bg-danger {{ expand_line }}" {{ style_bold }}>
                {% elif word["percentile"] > 0 %}
                <tr class="bg-warning {{ expand_line }}" {{ style_bold }}>
                {% else %}
                <tr class="{{ expand_line }}" {{ style_bold }}>
                {% endif %}
                    <td>{{ word["num"] }}</td>
                    <td>{{ word["word"] }}</td>
                    <td>{{ '%0.2f'|format(word["score"]*100|float) }}</td>
                    <td>{{ getEmojiFor(word["percentile"],word["score"]) }}</td>
                    <td>{{ word["percentile"] }}</td>
                    {% if word["percentile"] > 0 %}
                    <td>
                        <div class="meter">
                            <span style="width:{{ word['percentile']/10 }}%;">
                                <span class="progress">{%if word["percentile"] == 1000 %}BINGO !{% endif %}</span>
                            </span>
                        </div>                    
                    </td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </table>
        {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table hints">
                <thead>
                    <tr>
                        <th scope="col">‰</th>
                        <th scope="col">🌡</th>
                        <th scope="col">°C</th>
                        <th scope="col">Indice</th>
                    </tr>
                </thead>
                {% for h in hints %}
                <tr>
                    <td style="text-align:right">{{ h[1] }}</td>
                    <td>{{ getEmojiFor(h[1],h[2]) }}</td>
                    <td style="text-align:right">{{ '%0.2f'|format(h[2]|float) }}</td>
                    <td><a id="a{{ h[1] }}" href="" onclick="alert('{{ h[0] }}')">voir</a><span id="{{ h[1] }}" style="display:none">{{ h[0] }}</span></td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td>{{ getEmojiFor(0,0) }}</td>
                    <td style="text-align:right">0.00</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ getEmojiFor(0,-1) }}</td>
                    <td style="text-align:right">-100.00</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}
