{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }

        .meter { 
            height: 18px;
            position: relative;
            background: #f3efe6;
            overflow: hidden;
            border-radius: 5px;
        }

        .meter span {
            display: block;
            height: 100%;
        }

        .progress {
            background-color: #e4c465;
            text-align: center;
        }

        .progress-active {
            background-color: #e4c465;
            -webkit-animation: progressBar 1.5s ease-in-out;
            -webkit-animation-fill-mode:both; 
            -moz-animation: progressBar 1.5s ease-in-out;
            -moz-animation-fill-mode:both; 
        }

        .reveal {
            animation: fadeIn 1.5s;
        }

        .expand-line {
            animation: expandLine 1.5s;
        }

        @-webkit-keyframes progressBar {
        0% { width: 0; }
        100% { width: 100%; }
        }

        @-moz-keyframes progressBar {
        0% { width: 0; }
        100% { width: 100%; }
        }

        @-webkit-keyframes fadeIn {
        0% { opacity: 0; }
        99% { opacity: 0; }
        100% { opacity: 100%; }
        }

        @-moz-keyframes fadeIn {
        0% { opacity: 0; }
        99% { opacity: 0; }
        100% { opacity: 100%; }
        }

        @-webkit-keyframes expandLine {
        0% { visibility: collapse; }
        99% { visibility: collapse; }
        100% { visibility: visible; }
        }

        @-moz-keyframes expandLine {
        0% { visibility: collapse; }
        99% { visibility: collapse; }
        100% { visibility: visible; }
        }
	</style>
{% endblock %}


{% block title %}
Devine le mot
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

            <h1 class="pt-5 pb-2">Devine le mot !</h1>

            <h3>TO-DO développement</h3>
            <ul>
                <li>BUG: ancien mot avec nouvel index</li>
                <li>Ne pas afficher le premier de la liste si c'est le current</li>
                <li>Lien pour voir de l'aide (/nearby)</li>
                <li>Afficher l'historique du jeu (/history, /stats)</li>
            </ul>
        </div>
    </div>
    {% if msg %}<p class="lead" style="padding:inherit;width:fit-content;border-radius:3px;border:1px solid black;">{{ msg|safe }}</p>{% endif %}
    <div class="row">
        <form action="" method="post" role="form" class="form" style="width: 500px;">
            <table class="table">
                <tr>
                    <td>
                        {{ form.hidden_tag() }}
                        {{ form.word.label(class_="sr-only") }}
                        {% if words and words[0]["percentile"] == 1000 %}
                            {{ form.word(placeholder_=current["word"],readonly_=True) }}
                        {% elif words %}
                            {{ form.word(placeholder_=current["word"]) }}
                        {% else %}
                            {{ form.word }}
                        {% endif %}
                    </td>
                    <td>
                        {% if words and words[0]["percentile"] == 1000 %}
                            {{ form.submit(disabled_=True) }}
                        {% else %}
                            {{ form.submit }}
                        {% endif %}
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="row">     
        <div class="col" style="padding-left: 10px; width: 500px;">
        {% if words %}
            <table class="table">
                <colgroup>
                    <col span="1" style="width: 2%">
                    <col span="1" style="width: 80%;">
                    <col span="1" style="width: 2%;">
                    <col span="1" style="width: 2%;">
                    <col span="1" style="width: 2%;">
                    <col span="1" style="width: 12%;">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Mot</th>
                        <th scope="col">°C</th>
                        <th scope="col">🌡</th>
                        <th scope="col">‰</th>
                        <th scope="col">Progression</th>
                    </tr>
                </thead>
            {% if current is iterable and "error" not in current %}
                <tr style="font-weight: bold">
                    <td>{{ current["num"] }}</td>
                    <td>{{ current["word"] }}</td>
                {% if current["percentile"] > 0 %}
                    <td class="reveal">{{ '%0.2f'|format(current["score"]*100|float) }}</td>
                    {% if current["percentile"] == 1000 %}
                    <td class="reveal">🥳</td>
                    {% elif current["percentile"] > 998 %}
                    <td class="reveal">😱</td>
                    {% elif current["percentile"] > 989 %}
                    <td class="reveal">🔥</td>
                    {% elif current["percentile"] > 899 %}
                    <td class="reveal">🥵</td>
                    {% elif current["percentile"] > 0 %}
                    <td class="reveal">😎</td>
                    {% endif %}
                    <td class="reveal">{{ current["percentile"] }}</td>
                    <td>
                        <div class="meter">
                            <span style="width:{{ current['percentile']/10 }}%;">
                                <span class="progress-active"></span>
                            </span>
                        </div>                    
                    </td>
                {% else %}
                    <td>{{ '%0.2f'|format(current["score"]*100|float) }}</td>
                    {% if current["score"] > 0 %}
                    <td>🥶</td>
                    {% else %}
                    <td>🧊</td>
                    {% endif %}
                    <td>{{ current["percentile"] }}</td>
                    <td></td>
                {% endif %}
                </tr>
                <tr><td colspan="6"></td></tr>
            {% endif %}
            {% for word in words %}
                {% if current["word"] == word["word"] %}
                    {% set style_bold = "style=font-weight:bold;" %}
                    {% if current["percentile"] > 0 %}
                        {% set expand_line = "expand-line" %}
                    {% endif %}
                {% endif %}

                {% if word["percentile"] == 1000 %}
                <tr class="bg-success {{ expand_line }}" {{ style_bold }}>
                {% elif word["percentile"] > 998 %}
                <tr class="bg-info {{ expand_line }}" {{ style_bold }}>
                {% elif word["percentile"] > 899 %}
                <tr class="bg-danger {{ expand_line }}" {{ style_bold }}>
                {% elif word["percentile"] > 0 %}
                <tr class="bg-warning {{ expand_line }}" {{ style_bold }}>
                {% else %}
                <tr class="{{ expand_line }}" {{ style_bold }}>
                {% endif %}
                    <td>{{ word["num"] }}</td>
                    <td>{{ word["word"] }}</td>
                    <td>{{ '%0.2f'|format(word["score"]*100|float) }}</td>
                    {% if word["percentile"] == 1000 %}
                    <td>🥳</td>
                    {% elif word["percentile"] > 998 %}
                    <td>😱</td>
                    {% elif word["percentile"] > 989 %}
                    <td>🔥</td>
                    {% elif word["percentile"] > 899 %}
                    <td>🥵</td>
                    {% elif word["percentile"] > 0 %}
                    <td>😎</td>
                    {% elif word["score"] > 0 %}
                    <td>🥶</td>
                    {% else %}
                    <td>🧊</td>
                    {% endif %}
                    <td>{{ word["percentile"] }}</td>
                    {% if word["percentile"] > 0 %}
                    <td>
                        <div class="meter">
                            <span style="width:{{ word['percentile']/10 }}%;">
                                <span class="progress">{%if word["percentile"] == 1000 %}BINGO !{% endif %}</span>
                            </span>
                        </div>                    
                    </td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </table>
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}
