{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }

        #words_list {
            padding-left: 10px;
            width: 500px;
        }

        #form {
            width: 500px;
        }

        .row {
            margin: inherit;
        }

        .flex_container {
            display: flex;
            flex-direction: row-reverse;
        }

        .hints {
            /*margin: auto;*/
            padding: inherit;
            padding-left: 10px;
            width: auto;
        }

        .message {
            padding: inherit;
            width: fit-content;
            border-radius: 3px;
            border: 1px solid black;
        }

        .meter { 
            height: 18px;
            position: relative;
            background: #f3efe6;
            overflow: hidden;
            border-radius: 5px;
        }

        .meter span {
            display: block;
            height: 100%;
        }

        .progress {
            background-color: #e4c465;
            text-align: center;
        }

        .progress-active {
            background-color: #e4c465;
            -webkit-animation: progressBar 1.5s ease-in-out;
            -webkit-animation-fill-mode:both; 
            -moz-animation: progressBar 1.5s ease-in-out;
            -moz-animation-fill-mode:both; 
        }

        .hide { visibility: collapse; }

        .reveal { animation: fadeIn 1.5s; }

        .expand-line { animation: expandLine 1.5s; }

        @-webkit-keyframes progressBar {
        0% { width: 0; }
        100% { width: 100%; }
        }

        @-moz-keyframes progressBar {
        0% { width: 0; }
        100% { width: 100%; }
        }

        @-webkit-keyframes fadeIn {
        0% { opacity: 0; }
        99% { opacity: 0; }
        100% { opacity: 100%; }
        }

        @-moz-keyframes fadeIn {
        0% { opacity: 0; }
        99% { opacity: 0; }
        100% { opacity: 100%; }
        }

        @-webkit-keyframes expandLine {
        0% { visibility: collapse; }
        99% { visibility: collapse; }
        100% { visibility: visible; }
        }

        @-moz-keyframes expandLine {
        0% { visibility: collapse; }
        99% { visibility: collapse; }
        100% { visibility: visible; }
        }

        @media(max-width:538px){
            #words_list {
                padding-left: 0px;
                width: inherit;
            }

            #form {
                width: inherit;
            }
        }
	</style>
{% endblock %}


{% block title %}
Devinez le mot !
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm text-left">
            <div class="row">
                <div class="col">
                    <img src="{{ url_for('static', filename='favicon.png') }}" style="max-width: 40px">
                </div>
                <div class="col">
                    <h1 class="pt-5 pb-2 float-md-left">Devinez le mot !</h1>
                </div>
            </div>
            <h3>TO-DO développement</h3>
            <ul>
                <li>Afficher l'icone de singe devant le titre (comme dans le titre d'onglet)</li>
                <li>Cachez les indices derrière des liens</li>
                <li>Afficher l'historique du jeu (/history, /stats)</li>
            </ul>
        </div>
        <div class="col">
            <table class="table hints">
                <thead>
                    <tr>
                        <th scope="col">‰</th>
                        <th scope="col">🌡</th>
                        <th scope="col">°C</th>
                        <th scope="col">Indice</th>
                    </tr>
                </thead>
                {% for h in hints %}
                <tr>
                    <td style="text-align:right">{{ h[1] }}</td>
                    <td>{{ getEmojiFor(h[1],h[2]) }}</td>
                    <td style="text-align:right">{{ '%0.2f'|format(h[2]|float) }}</td>
                    <td>{{ h[0] }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td>{{ getEmojiFor(0,0) }}</td>
                    <td style="text-align:right">0.00</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ getEmojiFor(0,-1) }}</td>
                    <td style="text-align:right">-100.00</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    {% if msg %}<p class="lead message">{{ msg|safe }}</p>{% endif %}
    <div class="row">
        <form id="form" action="" method="post" role="form" class="form">
            <table class="table">
                <tr>
                    <td>
                        {{ form.hidden_tag() }}
                        {{ form.word.label(class_="sr-only") }}
                        {% if words and words[0]["percentile"] == 1000 %}
                            {{ form.word(placeholder_=current["word"],readonly_=True) }}
                        {% elif words %}
                            {{ form.word(placeholder_=current["word"]) }}
                        {% else %}
                            {{ form.word }}
                        {% endif %}
                    </td>
                    <td>
                        {% if words and words[0]["percentile"] == 1000 %}
                            {{ form.submit(disabled_=True) }}
                        {% else %}
                            {{ form.submit }}
                        {% endif %}
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="row">     
        <div id="words_list" class="col">
        {% if words %}
            <table class="table">
                <colgroup>
                    <col span="1" style="width: 2%">
                    <col span="1" style="width: 80%;">
                    <col span="1" style="width: 2%;">
                    <col span="1" style="width: 2%;">
                    <col span="1" style="width: 2%;">
                    <col span="1" style="width: 12%;">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Mot</th>
                        <th scope="col">°C</th>
                        <th scope="col">🌡</th>
                        <th scope="col">‰</th>
                        <th scope="col">Progression</th>
                    </tr>
                </thead>
            {% if current is iterable and "error" not in current %}
                <tr style="font-weight: bold">
                    <td>{{ current["num"] }}</td>
                    <td>{{ current["word"] }}</td>
                {% if current["percentile"] > 0 %}
                    <td class="reveal">{{ '%0.2f'|format(current["score"]*100|float) }}</td>
                    <td class="reveal">{{ getEmojiFor(current["percentile"],current["score"]) }}</td>
                    <td class="reveal">{{ current["percentile"] }}</td>
                    <td>
                        <div class="meter">
                            <span style="width:{{ current['percentile']/10 }}%;">
                                <span class="progress-active"></span>
                            </span>
                        </div>                    
                    </td>
                {% else %}
                    <td>{{ '%0.2f'|format(current["score"]*100|float) }}</td>
                    {% if current["score"] > 0 %}
                    <td>🥶</td>
                    {% else %}
                    <td>🧊</td>
                    {% endif %}
                    <td>{{ current["percentile"] }}</td>
                    <td></td>
                {% endif %}
                </tr>
                <tr><td colspan="6"></td></tr>
            {% endif %}
            {% for word in words %}
                {% if current["word"] == word["word"] %}
                    {% set style_bold = "style=font-weight:bold;" %}
                    {% if word == words[0] %}
                        {% set expand_line = "hide" %}
                    {% elif current["percentile"] > 0 %}
                        {% set expand_line = "expand-line" %}
                    {% endif %}
                {% endif %}

                {% if word["percentile"] == 1000 %}
                <tr class="bg-success {{ expand_line }}" {{ style_bold }}>
                {% elif word["percentile"] > 998 %}
                <tr class="bg-info {{ expand_line }}" {{ style_bold }}>
                {% elif word["percentile"] > 899 %}
                <tr class="bg-danger {{ expand_line }}" {{ style_bold }}>
                {% elif word["percentile"] > 0 %}
                <tr class="bg-warning {{ expand_line }}" {{ style_bold }}>
                {% else %}
                <tr class="{{ expand_line }}" {{ style_bold }}>
                {% endif %}
                    <td>{{ word["num"] }}</td>
                    <td>{{ word["word"] }}</td>
                    <td>{{ '%0.2f'|format(word["score"]*100|float) }}</td>
                    {% if word["percentile"] == 1000 %}
                    <td>🥳</td>
                    {% elif word["percentile"] > 998 %}
                    <td>😱</td>
                    {% elif word["percentile"] > 989 %}
                    <td>🔥</td>
                    {% elif word["percentile"] > 899 %}
                    <td>🥵</td>
                    {% elif word["percentile"] > 0 %}
                    <td>😎</td>
                    {% elif word["score"] > 0 %}
                    <td>🥶</td>
                    {% else %}
                    <td>🧊</td>
                    {% endif %}
                    <td>{{ word["percentile"] }}</td>
                    {% if word["percentile"] > 0 %}
                    <td>
                        <div class="meter">
                            <span style="width:{{ word['percentile']/10 }}%;">
                                <span class="progress">{%if word["percentile"] == 1000 %}BINGO !{% endif %}</span>
                            </span>
                        </div>                    
                    </td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </table>
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}
